*{
    box-sizing: border-box;
}

html, body { 
    
    width: 100%; margin: 0; 
}

body{
    background: #f1faee;
    color: #111029;
    font-family: Montserrat, sans-serif;
    
}

.backdrop {
    background-color: rgba(0,0,0,0.5);
    display: none; 
    height: 100vh; 
    width: 100vw;
    top: 0;
    left: 0; 
    position: fixed; 
    z-index: 10;
}

h1{
    text-align:center;
}

div.fav_img{
    text-align: center;

}
.favicon_logo{
    width: 250px;
    background: rgba(241, 250, 238);


}

.favicon_logo_small{
    width: 4rem; 
    background: rgba(241, 250, 238);
    border:rgba(241, 250, 238) solid 1px;
    border-radius: 30px; 
    display: none;
}

#intro-heading-mobile{
    display:none;
}


#topbar {
    background-color: #196aa2;
    width: 100%;
    height: 80px; 
    display: flex;
    justify-content:space-between;
    align-items: center;
    scroll-behavior: smooth;
    position: sticky;
    top:0; 

    
}

.hamMenu{
    background: transparent;
    border: none; 
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    width: 3rem; 
    border-radius: 5px;
    display: none;
}

.hamMenu_line{
    width: 100%;
    height: 0.2rem;
    background: #b8c0ff;
    display: block;
    margin: 0.6rem 0;
}
.nav-link{
    display: inline-block;
     background-color: #e0f9ff; 
     margin: 5px;
     border: 3px solid black;
     padding: 10px 10px;
     height: 3em; 
     width: 10em; 
     text-decoration: none;
     color: black;
     border-radius: 8px;
     text-align: center;
     box-shadow: 2px 2px 2px 2px rgb(0, 0, 0,0.5);
     color: #111029;
     transition: 1s;
     scroll-behavior: smooth; 
     flex-shrink: 0;
     flex-grow: 0;
  }

  .nav-link:active,
  .nav-link:hover{
      background:#ffe785;
  }

  .nav-link:active{
      box-shadow: -3px -3px 3px 3px rgb(0, 0, 0,0.5);
      transform: translatey(3px); 
  }

  .ext-link:hover{
      background: #f25f5c;
  }
  .nav-box-fix{
      padding-bottom: 12px;
      padding-top: 4px;
  }
  .main-nav-box{
    display: inline-block;
    display: flex;
    justify-self: center;
    align-items: center;
    width: 40%;
    justify-content: space-around;
}

.sm-box{
  padding: 10px 5px;
}

.ext-link{
    color: #f1faee;
    background: rgba(89, 159, 140, 0.95); 
}

.dropDown{
    z-index: 20; 
    height: 100vh; 
    display: inline-block;
    margin-right:0;
    padding: 0; 
    background:  #f1faee;; 
    width: 60%; 
    position: fixed;
    display: none; 


}

.dropDown_list{
    margin: auto; 
    margin-left: 30%;
    
}




@media (max-width:1000px){
   #topbar{
       justify-content: space-around;
   }
    .nav-link{
        display:none;
    }

    .hamMenu{
        display: inline-block;
    }

    .favicon_logo_small{
        display: inline-block;
    }

    #intro-heading{
        display: none;
    }
    .fav_img{
        display: none;
    }
}

.open{
    display: block;
}


@media (max-width:1000px){

    #intro-heading-mobile{
        display: block; 
    }
  }