

.blurb h3{
    text-align: center; 
    padding-top: 2rem;
}

.blurb {
    padding-left: 4rem;
    padding-right: 4rem; 
    scroll-behavior: smooth;
    justify-items: center;
    min-width: 250px;
    margin: auto; 
    max-width: 1200px;
}



ul {
    list-style-type: none;
  }

  .bold-list{
    font-weight: bold;
  }

  .bold-list span{
      font-weight:400;
  }
  



 

  