
html, body { height: 100%; width: 100%; margin: 0; }

body{
    display: flex; 
}
#sidebar {
    background-color: blue;
    width: 10%;
    height: 100%;
    
    
}

#topbar {
    background-color: blue;
    width: 90%;
    height: 200px; 
    
    
}